{% extends 'base.html.twig' %}

{% block title %}vos articles{% endblock %}

{% block body %}

    <div class="articles">
        {{ post.title }}
        {{ commentAuthor.author }}
        {{ post.ispublished }}
    </div>

{% endblock %}
