{% extends 'base.html.twig' %}

{% block title %}vos articles{% endblock %}

{% block body %}

    <div class="articles">
        <a href="{{ path('post') }}" class="btn-primary btnShowBack"><i class="fas fa-chevron-left"></i>Retour</a>

        {{ post.title }}
        {{ commentAuthor.author }}
        {% if post.isPublished %}
            <div>true</div>
        {% else %}
            <div>false</div>
        {% endif %}
    </div>

{% endblock %}
